################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppChamaGas/.vs/AppChamaGas/v15/Server/sqlite3
/AppChamaGas/AppChamaGas/AppChamaGas/bin/Debug/netstandard2.0
/AppChamaGas/AppChamaGas/AppChamaGas/obj
/AppChamaGas/.vs/AppChamaGas/v15
/AppChamaGas/AppChamaGas/AppChamaGas.Android/bin/Debug
/AppChamaGas/AppChamaGas/AppChamaGas.Android/obj
/AppChamaGas/AppChamaGas/AppChamaGas.iOS/obj
/AppChamaGas/AppChamaGas/AppChamaGas.UWP/obj
/AppChamaGas/AppChamaGas/AppChamaGas.UWP/bin/x86/Debug
/AppChamaGas/AppChamaGas/AppChamaGas.iOS/bin/iPhone/Debug
